@charset "UTF-8";
/***** 3rd Party Components *****/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"],
button,
.button {
  background-color: #E3857D;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus,
  .button:hover,
  .button:focus {
    background-color: #E3857D;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled,
  .button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover,
    button:disabled:hover,
    .button:disabled:hover {
      background-color: #E3857D; }

.button--twitter {
  height: 58px;
  width: 58px;
  background: #5AA4D4 url(../img/icons-social.svg) -132px 19px no-repeat; }
  @media screen and (max-width: 480px) {
    .button--twitter {
      margin-left: 90px;
      margin-bottom: 10px; } }

.button--rss {
  height: 58px;
  width: 152px;
  background: #FFA763 url(../img/icon-rss.svg) 16px center no-repeat;
  padding-left: 50px;
  margin-left: 18px;
  line-height: 38px; }

.button--try {
  border: 2px solid #E3857D;
  background-color: transparent;
  color: #E3857D; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: #E3857D;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(222, 113, 104, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

[type="search"] {
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: 600;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

li:before {
  content: "›";
  color: #E3857D; }

li a {
  padding-left: 7px;
  color: #736266 !important;
  font-size: 1.375em; }
  li a:hover {
    color: #E3857D !important; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #E3857D;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #aa645e; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

/************ General Page Elements */
.row-wrapper {
  display: block; }
  .row-wrapper::after {
    clear: both;
    content: "";
    display: table; }
  .row-wrapper:nth-child(odd) {
    background: #F2EEDA; }
  .row-wrapper .outer-container {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto; }
    .row-wrapper .outer-container::after {
      clear: both;
      content: "";
      display: table; }

/********** BODY */
body {
  color: #594C4F; }

body h2 {
  font-size: 25px;
  color: #504028; }

body h3 {
  color: #E3857D;
  font-size: 23px;
  margin: 2px 0 10px; }

body a {
  color: #E3857D; }

body h5 {
  font-size: 25px;
  color: #E3857D; }

/************ Navigation */
header {
  float: left;
  display: block;
  margin-right: 4.56432%;
  width: 100%;
  margin-left: 0%;
  height: 72px;
  display: table;
  margin-left: 10px; }
  header:last-child {
    margin-right: 0; }
  header #logo {
    margin-top: 20px;
    position: static;
    height: 30px; }
  header nav {
    float: right;
    line-height: 72px; }
    header nav a {
      font-size: 18px;
      color: #E3857D;
      text-transform: uppercase;
      margin-right: 40px; }
      header nav a:last-child {
        margin-right: 9px; }

/********* TEASER TOP */
article.teaser--top {
  float: left;
  display: block;
  margin-right: 4.56432%;
  width: 65.14523%;
  margin-left: 17.42739%;
  float: center;
  display: inline;
  margin-right: 4.56432%;
  width: 65.14523%;
  margin-left: 17.42739%;
  margin-top: 50px;
  margin-bottom: 50px; }
  article.teaser--top:last-child {
    margin-right: 0; }

h1 {
  font-size: 50px;
  margin-bottom: 10px; }

article.teaser--top:last-child {
  margin-right: 0; }

@media screen and (max-width: 480px) {
  article.teaser--top {
    margin-left: 8.71369%;
    float: left;
    display: block;
    margin-right: 4.56432%;
    width: 82.57261%; }

  article.teaser--top:last-child {
    margin-right: 0; } }
article.teaser--top .teaser-image {
  height: 300px;
  width: 100%;
  background-image: url("../img/chevron-no-background.svg"), -webkit-linear-gradient(#e34731 0%, #e34d35 33%, #e46143 34%, #e56244 66%, #e57b53 67%, #e57b53 100%);
  background-image: url("../img/chevron-no-background.svg"), linear-gradient(to, #e34d35 33%, #e46143 34%, #e56244 66%, #e57b53 67%, #e57b53 100%);
  background-position: center bottom;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin-bottom: 20px; }

/********** CONTINUE READING */
.continue-reading a {
  font-size: 20px;
  color: #E3857D;
  padding-right: 25px;
  background: url(../img/icon-arrow.svg) center right no-repeat; }

/************ Recent Posts */
#recent-posts {
  float: left;
  display: block;
  margin-right: 4.56432%;
  width: 65.14523%;
  margin-left: 26.14108%;
  padding: 20px 0px 75px 0px; }
  #recent-posts:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    #recent-posts {
      margin-left: 17.42739%; } }
  #recent-posts h5 {
    margin-top: 40px;
    font-size: 30px;
    margin-left: 160px; }
    @media screen and (max-width: 480px) {
      #recent-posts h5 {
        margin-left: 10px; } }

.teaser--recent {
  margin-top: 50px; }
  @media screen and (max-width: 480px) {
    .teaser--recent h2 {
      margin-bottom: 23px; } }

@media screen and (max-width: 480px) {
  .content-postsrecent {
    margin-top: 140px; } }

.meta {
  float: right;
  color: #6F6148; }
  @media screen and (max-width: 480px) {
    .meta {
      float: none; } }

.teaser-image-recentposts {
  position: absolute;
  margin-left: -17%;
  margin-top: -3.5%;
  height: 20%;
  width: 15%;
  background-image: url("../img/chevron-no-background.svg"), -webkit-linear-gradient(#e34731 0%, #e34d35 33%, #e46143 34%, #e56244 66%, #e57b53 67%, #e57b53 100%);
  background-image: url("../img/chevron-no-background.svg"), linear-gradient(to, #e34d35 33%, #e46143 34%, #e56244 66%, #e57b53 67%, #e57b53 100%);
  background-position: center bottom;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-bottom: 20px; }
  @media screen and (max-width: 480px) {
    .teaser-image-recentposts {
      float: left;
      display: block;
      margin-right: 4.56432%;
      width: 56.43154%;
      margin-left: 0%; }
      .teaser-image-recentposts:last-child {
        margin-right: 0; } }

/************ Subscribe */
#subscribe, #recommended-reading {
  margin-left: 17.42739%;
  float: left;
  display: block;
  margin-right: 4.56432%;
  width: 65.14523%;
  padding: 48px 0px 45px 0px;
  margin-bottom: 105px;
  background: white;
  border-top: 4px solid #E3857D; }
  #subscribe:last-child, #recommended-reading:last-child {
    margin-right: 0; }

#subscribe .note {
  float: left;
  margin-left: 40px; }
#subscribe .follow {
  float: right;
  margin-right: 40px; }

/********** ABOUT AUTHOR */
#author {
  margin-left: 8.71369%;
  float: left;
  display: block;
  margin-right: 4.56432%;
  width: 82.57261%;
  padding-top: 7%; }
  #author:last-child {
    margin-right: 0; }
  #author .author-icon {
    float: left;
    margin-top: -10px;
    margin-right: 23px;
    height: 108px;
    width: 108px;
    background-image: url("../img/author.jpg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%; }
  #author p {
    margin-top: -10px; }

#recommended-reading {
  margin-left: 8.71369%;
  float: left;
  display: block;
  margin-right: 4.56432%;
  width: 82.57261%; }
  #recommended-reading:last-child {
    margin-right: 0; }

/************ Recommended Reading */
#recommended-reading {
  background-color: #F2EEDA;
  margin-top: 25px; }
  #recommended-reading h5 {
    position: block;
    margin-left: 100px; }
  #recommended-reading ul {
    margin-left: 84px; }

#about {
  margin-left: 8.71369%;
  float: left;
  display: block;
  margin-right: 4.56432%;
  width: 82.57261%;
  padding: 6% 0; }
  #about:last-child {
    margin-right: 0; }
  #about .tower-icon {
    float: left;
    margin-top: 10px;
    margin-right: 23px;
    height: 150px;
    width: 150px;
    background-image: url("../img/icon-tower.png");
    background-position: center;
    background-repeat: no-repeat; }

#about p {
  margin-top: 35px; }

#about h5 {
  font-size: 30px;
  margin-bottom: 10px; }

/******* FOOTER */
footer {
  margin-top: 15px;
  text-align: center; }

/*# sourceMappingURL=styles.css.map */
