ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: 600;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}
li:before {
    content: "›";
    color: #E3857D;
}
li a {
  padding-left:7px;
  color: #736266 !important; 
  font-size:$recommended-reading-font-size;

  &:hover {
    color: #E3857D !important;
  }
}